.tool-container {
  display:flex;
  gap: var(--spc-xs);
  padding: var(--spc-xs);
  align-items: start;
  justify-content: start;
  flex-direction: row;
  background:var(--scn-90);
  flex-wrap: wrap;
  width:fit-content;
}
.tool-button-container {
  display:flex;
  flex-direction: row;
  background:var(--scn-80);
  border-radius: var(--rad-md);
  overflow:hidden;
  border: 2px solid;
  border-color: var(--scn-70) var(--scn-70) var(--ttr-80) var(--ttr-80);
}
.tool-button {
  width:calc(2.5ch * var(--fs-md));
  height:calc(2.5ch * var(--fs-md));
  background:transparent;
  overflow:hidden;
  font-size:var(--fs-md);
  font-weight:500;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:var(--spc-bs);
  border: 0px solid transparent;
  transition: border 0.25s, color 0.25s, background 0.25s;
}
.tool-button.selected {
  background:var(--prm-60);
  color:var(--prm-20);
  font-weight: 900;
  border: 2px solid;
  border-color: var(--prm-50) var(--prm-50) var(--prm-80) var(--prm-80);
}
.tool-button.selected:hover {
  background:var(--prm-50);
  color:var(--prm-10);
  font-weight: 900;
  border: 3px solid;
  border-color: var(--prm-30) var(--prm-30) var(--prm-70) var(--prm-70);
}
.tool-button:hover {
  background:var(--prm-70);
  color:var(--prm-30);
  font-weight: 900;
  border: 2px solid;
  border-color: var(--prm-50) var(--prm-50) var(--prm-90) var(--prm-90);
}
.tool-button:first-child {
  border-top-left-radius: var(--rad-md);
  border-bottom-left-radius: var(--rad-md);
}
.tool-button:last-child {
  border-top-right-radius: var(--rad-md);
  border-bottom-right-radius: var(--rad-md);
}

.dropdown-options {
  position:absolute;
  padding:var(--spc-md);
  background:var(--scn-90);
  color:var(--scn-10);
  border-radius: var(--rad-md);
  flex-direction: column;
  border:2px solid var(--scn-50);
}
.dropdown > .dropdown-selected {
  font-weight:500;
  display:flex;
  gap:var(--spc-sm);
}
.dropdown > .dropdown-selected.tool-button {
  border-radius: var(--rad-md);
}
.dropdown-option {
  display:flex;
  gap:var(--spc-sm);
}