@font-face {
    font-family: 'icon';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v225/kJESBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD-1WwbppMw.woff2) format('woff2');
}
.icon {
  font-family: 'icon';
}
:root {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
body, html {
  position: relative;
  background:var(--ttr-80);
  width:100%;
  height:100%;
  overflow:hidden;
}
main {
  position:absolute;
  top:0;
  left:0;
  display:grid;
  width:100%;
  height:100%;
  padding:var(--spc-md);
  grid-template-areas:
    "mode . . . . function function"
    "inspector inspector . . . . hierachy"
    "inspector inspector .  tool . . hierachy";
  grid-template-columns: 2fr repeat(5, 1fr) 2fr;
  grid-template-rows: repeat(2, minmax(2rem, 1.5fr)) 3rem;
  overflow:hidden;
  gap:var(--spc-bs);
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
}
main > * {
  pointer-events: all;
}
.panel {
  position: relative;
  width:100%;
  min-height: 0;
  background:var(--scn-70);
  border-radius:var(--rad-lg);
  padding: var(--spc-sm) var(--spc-md);
  display:flex;
  flex-direction: column;
  gap:var(--spc-xs);
} 
.header {
  font-weight: 400;
  color:var(--ttr-10);
  margin-left:var(--spc-xs);
}
.break {
  width:100%;
  height:var(--spc-2xs);
  background:var(--scn-50);
  border-radius:1000px;
  margin-bottom: var(--spc-xs);
}