@font-face {
    font-family: 'icon';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v225/kJESBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD-1WwbppMw.woff2) format('woff2');
}
.icon {
  font-family: 'icon';
}
.hollow {
  font-family: 'icon';
  fill:0;
}
:root {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
* {
  font-family: "Roboto Mono", monospace;
}
body, html {
  position: relative;
  background:var(--ttr-80);
  width:100%;
  height:100%;
  overflow:hidden;
  touch-action: manipulation; /* Prevents double-tap zoom in most cases */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
button, input, label {
  font-size: 16px; /* Critical: stops Safari from thinking it needs to zoom */
}
button, input, label {
  touch-action: manipulation;
}
main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--spc-md);
  gap: var(--spc-bs);
  pointer-events: none;
  user-select: none;
  justify-content: space-between;
}

main > .column {
  display: flex;
  flex-direction: column;
  height:100%;
  width:fit-content;
  gap: var(--spc-bs);
  pointer-events: none;
  user-select: none;
  overflow:hidden;
}

.panel {
  max-height:100%;
  overflow: hidden;
  min-width:14rem;
  background: var(--scn-90);
  border-radius: var(--rad-lg);
  padding: var(--spc-sm) var(--spc-md);
  display: flex;
  flex-direction: column;
  gap: var(--spc-xs);
  width:fit-content;
  pointer-events: all;
  border: 2px solid var(--scn-60);
  border-color: var(--scn-70) var(--scn-70) var(--ttr-90) var(--ttr-90);
}
.header {
  font-size:var(--fs-sm);
  font-weight: 400;
  color:var(--ttr-10);
  margin-left:var(--spc-xs);
}
.break {
  width:100%;
  height:var(--spc-2xs);
  background:var(--scn-50);
  border-radius:1000px;
  margin-bottom: var(--spc-xs);
}